@import 'variables';
@import 'bootstrap-material-design/sass/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootstrap-material-design/sass/bootstrap-material-design';
@import 'bootstrap-material-design/sass/ripples';
@import 'mdi';
@import 'normalize';
@import 'contact';
@import 'highlightjs_theme';
@import 'home';
@import 'blog';

body {
  padding-top: 70px;
}

p {
    // text-align: justify;
    line-height: 1.5;
    //font-size: 20px;
    margin-bottom: 1.75em;
}

.container {
  font-size: 20px;
}
.mdi-ul {
    padding-left: 0;
    margin-left: 2em;
    list-style-type: none;
}
.mdi-ul > li {
    position: relative;
    margin-bottom: 15px;
}
.mdi-li {
    position: absolute;
    left: -2em;
    width: 2em;
    top: 0.5em;
    text-align: center;
}

// Reset this from bootstrap
pre {
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
    margin-top: 40px;
    margin-bottom: 20px;
}
footer > p {
    color: rgba(0,0,0,0.4);
    text-align: center;
}
