@import 'variables';
@import 'bootstrap-material-design/sass/variables';
@import 'bootstrap-sass/assets/stylesheets/bootstrap';
@import 'bootstrap-material-design/sass/bootstrap-material-design';
@import 'bootstrap-material-design/sass/ripples';
@import 'markdown';
@import 'mdi';
@import 'normalize';
@import 'post';
@import 'projects';
p {
    text-align: justify;
}
p.links {
    text-align: center;
}
p.links a {
    color: #a2a2a2;
}
.main-container {
    max-width: 800px;
    margin: 0 auto;
}
.content {
    padding-left: 10px;
    padding-right: 10px;
}
img.profile {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
}
h1.intro {
    font-weight: 100;
    margin-bottom: 10px;
    text-align: center;
}
.mdi-ul {
    padding-left: 0;
    margin-left: 2em;
    list-style-type: none;
}
.mdi-ul > li {
    position: relative;
    margin-bottom: 15px;
}
.mdi-li {
    position: absolute;
    left: -2em;
    width: 2em;
    text-align: center;
}
.footer {
    margin-top: 40px;
}
.footer > p {
    color: rgba(0,0,0,0.4);
    text-align: center;
}
/* Fancy animation stuff */
.grow {
    transition: all 0.2s ease-in-out;
}
.grow:hover {
    transform: scale(1.1);
}
