div.links {
  text-align: center;
}
div.links a {
  color: #a2a2a2;
}
img.profile {
  width: 150px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
}
h1.intro {
  font-weight: 100;
  margin-bottom: 10px;
  text-align: center;
}

/* Fancy animation stuff */
.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.mdi-ul {
  padding-left: 0;
  margin-left: 2em;
  list-style-type: none;
}
.mdi-ul > li {
  position: relative;
  margin-bottom: 15px;
}
.mdi-li {
  position: absolute;
  left: -2em;
  width: 2em;
  top: 0.5em;
  text-align: center;
}
