{% extends "base.njk" %}

{% block content %}
<h1>Error 404</h1>
<p>We couldn't find the requested page. That's all we know.</p>
<p>This site is still under construction; check back later.<p>
{% endblock %}
