<!DOCTYPE html>
<html lang="en">

{% macro title()%}
{% block title %}Nathan Walters{% endblock %}
{% endmacro %}

{% macro description() %}
{% block description %}Nathan Walters' personal website. Learn more about who I am and what I do!{% endblock %}
{% endmacro %}

<head>
    <meta charset="UTF-8">
    <title>{{ title() }}</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Search engine stuff -->
    <meta name="description" content="{{ description() }}">
    <meta name="author" content="Nathan Walters">
    <!-- Open Graph stuff, because why not? -->
    <meta property="og:title" content="{{ title() }}">
    <meta property="og:description" content="{{ description() }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="http://nwalters.com/img/profile.jpg">
    <meta property="og:url" content="http://nwalters.com">
    <!-- Styles! -->
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link href="http://cdn.materialdesignicons.com/1.2.65/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- GA tracking -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-67210292-1', 'auto');
    ga('send', 'pageview');
    </script>
</head>
</body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Nathan Walters</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/">Home</a></li>
        <li><a href="/about-me">About me</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contact">Contact me</a></li>
        <li><a href="/about-site">About this site</a></li>
      </ul>
    </div>
  </div>
</nav>
{% block content_container %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
{% include "footer.njk" %}

<!-- Material Bootstrap stuff -->
<script src="/js/bootstrap.js"></script>
<script> $.material.init(); </script>

<!-- Syntax highlighting for code blocks -->
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
