{% extends "base.njk" %}

{% block content %}
{% post file %}
<div class="post">

<div class="post-header">
{% if post.attrs.title %}
<h1>{{ post.attrs.title }}</h1>
{% endif %}

<h3>
  {% if post.attrs.dateString %}
  {{ post.attrs.dateString }}
  {% endif %}
  {% if post.attrs.dateString and post.attrs.description%}
  &nbsp;-&nbsp;
  {% endif %}
  {% if post.attrs.description %}
  {{ post.attrs.description }}
  {% endif %}
</h3>
</div>

<hr>

<div class="markdown">
{% markdown %}
{{ post.body }}
{% endmarkdown %}
</div>
</div>

{% endblock %}
